
.controls{
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: flex-start;
}
 

.alignmentClass
{
    margin-left: auto;
}
h2{
    text-align: center;
}
button{
    margin-left: 25px;
}
h3{
    text-align: center;
    color: blue;
}

.text-danger{ 
    color: red;
}

fieldset > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

