
.controls{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-between;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    color: blue;
}

.text-danger{ 
    color: red;
}

fieldset > *{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

